<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite" thread-count ="2">
	<listeners>
		<listener class-name="com.test.qa.utilities.TestListener"></listener>
	</listeners>
	<test name="Testing 1">
		<classes>
			<class name="com.test.qa.tests.CheckoutFlow">
				<parameter name="browser" value="chrome" />
			</class>
			<class name="api.tests.ValidateBooks">
				<methods>
			         <include name="createUserAndAuthorize"/>
					 <include name="validateAllBooks"/>
					<include name="validateAddBook"/>
				</methods>
			</class>
		</classes>
	</test>
</suite> <!-- Suite -->
